.cate-page {
    background-color: #EEEEEE;

}

.cate-header {
    background-color: #e6d2d2;
    display: flex;


    /* margin-top: 120px; */
}

.cate-content {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}