.ExercisePage {
  /* margin-top: 40px; */
  gap: 20px;
  justify-content: end;
  min-width: 1400px;
}

.header-in-exercises {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: auto;
  margin-top: 90px;
  /* background-color: grey; */
  /* text-decoration: underline; */
  border-bottom: 3px black solid;
  width: 30%;
}

.exercises-div {
  margin-right: 30px;
  margin-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: start;
}

.sad-noises {
  width: 250px;
  /* margin: auto; */
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  margin-top: 200px
}