.hero-container{
    background-image: url(../../assets/hero-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
}