.allCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;



  /* height: 700px; */
}

.allCard:hover {
  transition: 450ms;
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.image1 {
  height: auto;
  border: none;
  width: 100%;
  border-bottom: solid lightgray;
}

.title1 {
  font-size: 17px;
  /* font-family: "Times New Roman", Times, serif; */
  /* padding-top: 20px; */
  font-family: "Crimson Text", serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  width: 80%;
}

.title1 {
  width: auto;
}

.show-btn {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  align-items: baseline;
  /* margin-bottom: 20px; */

}

.show-btn:hover {


  background-color: #F13A11;

}