
.navbar{
    background-color: black;
    height: 50px;
    color: white;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.nav-link {
    color: white;
    
  }

.nav-link:hover {
    color: #f13a11;
  }

  .logo-text{
    color: white;
  }

  .logo-text:hover{
    color: #f13a11;
  }

