.navbar {
  background-color: black;
  height: 75px;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.nav-link {
  color: white;

}

.nav-link:hover {
  color: #f13a11;
}

.logo-text {
  color: white;
  text-decoration: none;
}

.logo-text:hover {
  color: #f13a11;
  text-decoration: none;

}

/* .logo-hover:hover {
  filter: drop-shadow(100%);
  background-color: #f13a11;
} */

.nav-link-style:hover {
  text-decoration: none;
  color: #f13a11
}

.nav-link-style {
  text-decoration: none;

}