.nav-list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    text-decoration: none;
    width: 40px;
    margin-top: 70px;
    /* top: 20; */

}

.list-style {

    text-decoration: none;
    width: 180px
}

.list-style:hover {

    text-decoration: none;
    margin: 0;
    background-color: #F13A11;
}

.ul-cate-list {
    width: 300px;
}

.list-header-style {
    text-decoration: none;
    width: 180px;
    background-color: black;
    color: white;
}

/* .test-group-item:hover {
    background-color: #F13A11;
} */

.list-style#active {
    background-color: #F13A11;
}


.waist #waist {
    color: red;
    transition: 500ms;
}

.chest #chest {
    color: red;
    transition: 500ms;
}

.neck #neck {
    color: red;
    transition: 500ms;
}

.cardio #cardio {
    color: red;
    transition: 500ms;
}

.back #back {
    color: red;
    transition: 500ms;
}

.upperarms #upper-arms {
    color: red;
    transition: 500ms;
}

.upperlegs #upper-legs {
    color: red;
    transition: 500ms;
}

.lowerarms #lower-arms {
    color: red;
    transition: 500ms;
}

.lowerlegs #lower-legs {
    color: red;
    transition: 500ms;
}

.shoulders #shoulders {
    color: red;
    transition: 500ms;
}